services:
  redpanda:
    image: docker.redpanda.com/redpandadata/redpanda:latest
    container_name: redpanda
    command: >
      redpanda start
        --overprovisioned
        --smp 1
        --memory 1G
        --reserve-memory 0M
        --node-id 0
        --check=false
        --kafka-addr PLAINTEXT://0.0.0.0:9092
        --advertise-kafka-addr PLAINTEXT://192.168.128.236:9092
        --set auto_create_topics_enabled=true
        --set default_topic_partitions=10
    ports:
      - "9092:9092"
      - "9644:9644"
    volumes:
      - redpanda_:/var/lib/redpanda/data

volumes:
  redpanda_: